
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}
.fancybox-skin {
    position: relative;
    color: #333;
    text-shadow: none;
}
.fancybox-opened {
    z-index: 8030;
}
.fancybox-outer, .fancybox-inner {
    position: relative;
}
.fancybox-skin {
    background: #21ce99;
    border-radius: 20px;
}
.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}
.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}
.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}
#fancybox-loading div {
    width: 44px;
    height: 44px;
}
.fancybox-close {
    font-size: 0;
    text-decoration: none;
    text-indent: 9999px;
    position: absolute;
    top: 16px;
    background: url(../img/close.png) no-repeat center;
    right: 18px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    z-index: 8040;
}
.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 8040;
    background: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.fancybox-nav:hover {
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.fancybox-prev {
    left: 0px;
}
.fancybox-next {
    right: 0px;
}
.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border: 2px solid #b44c98;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    z-index: 8040;
}
.fancybox-nav span:before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #b44c98;
    border-right: 2px solid #b44c98;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 12px 0 0 9px;
}
.fancybox-prev span {
    left: 10px;
}
.fancybox-prev span:before {
    margin: 12px 0 0 13px;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.fancybox-next span {
    right: 10px;
}
.fancybox-nav:hover span {
    visibility: visible;
}
.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}
.fancybox-lock {
    overflow: hidden;
}
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(0, 0, 0, 0.73);
}
.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}
.fancybox-lock .fancybox-overlay {
    overflow: auto;
}
.fancybox-opened .fancybox-title {
    visibility: visible;
}
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    z-index: 1;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide {
    position: relative;
    overflow: hidden;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow {
    transition: all 0.3s ease-out;
    position: absolute;
    top: 50%;
    margin-top: -127px;
    z-index: 20;
    cursor: pointer;
    font-size: 0;
    height: 50px;
    width: 25px;
    border: none;
    box-sizing: border-box;
    background: transparent;
}
.slick-arrow:before {
    content: '';
    background: url(../img/arr.png?ver1.0) no-repeat center;
    display: inline-block;
    width: 25px;
    height: 50px;
}
.slick-arrow.slick-disabled {
    cursor: default;
}
.slick-arrow.slick-disabled:before {
    opacity: 0.7;
}
.slick-prev {
    left: -53px;
}
.slick-next {
    right: -53px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slick-dots {
    text-align: center;
    margin: 35px 0 0;
}
.slick-dots li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}
.slick-dots li button {
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #f6f6f6;
    font-size: 0;
}
.slick-dots li.slick-active button {
    background: #d7d7d7;
    border-color: #d7d7d7;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}
a, p, ul, ol, li, img, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}
applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, font, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, caption, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}
article, aside, figure, footer, header, hgroup, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}
canvas, details, embed, figcaption, menu, nav, output, ruby, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
b, strong {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    background: #5294c1;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 12px;
}
ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}
ul ul, ol ol {
    padding-top: 0.5em;
}
dt {
    font-size: 18px;
    margin: 0;
}
dd {
    padding-left: 10px;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 20px;
}
html {
    height: 100%;
    background: #fff;
}
input[type="submit"], textarea, button {
    -webkit-appearance: none;
}
img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clear {
    clear: both;
    position: relative;
    height: 1px;
    overflow: hidden;
}
img.alignleft {
    float: left;
    margin: 3px 28px 10px 0px;
}
.alignright {
    text-align: right;
}
img.alignright {
    float: right;
    margin: 3px 0px 10px 28px;
}
.aligncenter {
    text-align: center;
}
img.alignnone {
    margin-bottom: 14px;
}
body {
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
    color: #3a5072;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
}
a {
    color: #179a76;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
h1, .h1 {
    margin: 0 auto 24px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
h2 {
    margin: 0 auto 7px;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
}
h2:before {
    display: block;
    background: #fff;
    width: 86px;
    margin-bottom: 15px;
    content: '';
    height: 1px;
}
h3 {
    margin: 0 auto 24px;
    font-weight: bold;
    font-size: 27px;
    color: #202020;
}
h4 {
    margin: 0 auto 24px;
    font-weight: 400;
    font-size: 24px;
    color: #05563d;
}
.main-wrapper {
    background: #ddd;
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    min-height: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
    background: #fff;
    position: relative;
    z-index: 2;
}
.wrapper {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 20px;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}
#header {
    height: 73px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 0 0px;
    transition: background 0.3s ease-out;
}
#header .wrapper {
    height: 73px;
    padding: 0 0px;
}
#header .logo {
    width: 128px;
    height: 132px;
    overflow: hidden;
    background: url(../img/logo-bg.png?ver1.0) no-repeat center top;
    line-height: 0;
    font-size: 0;
    float: left;
    text-align: left;
    margin: 0 0 0 0px;
    background-size: 103%;
}
#header .logo img {
    margin: 12% 17.5% 0 15.4%;
    width: 65%;
}
#header .nav {
    clear: both;
    text-align: right;
    padding: 15px 15px 25px 0;
    transition: all 0.3s ease-out;
    background: rgba(25, 25, 25, 0.8);
    position: fixed;
    overflow: hidden;
    z-index: 10;
    width: 192px;
    right: -200px;
    top: 73px;
    bottom: 0;
    overflow: auto;
}
#header .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
#header .nav li {
    position: relative;
    line-height: 30px;
    margin-bottom: 10px;
}
#header .nav li a {
    display: inline-block;
    color: #21ce99;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
#header .nav li a:hover, #header .nav li li.current > a {
    text-decoration: none;
    border-bottom: 1px solid #21ce99;
}
#header .nav.open {
    display: block;
    right: 0;
}
#header .nav.open li {
    margin: 15px 0;
}
#header .head-phone {
    text-align: right;
    background: rgba(33, 206, 153, 0.8);
    overflow: hidden;
    position: relative;
    padding: 7px 15px 8px 12px;
}
#header .head-phone .phone-link {
    line-height: 1;
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}
#header .call-ord {
    margin: 3px 48px 0 0px;
    line-height: 27px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #05563d;
}
#header .call-ord span {
    border-bottom: 1px dashed #05563d;
    line-height: 1;
    display: none;
}
#header .call-ord i {
    width: 31px;
    margin-right: 0px;
    display: inline-block;
}
#header .call-ord i img {
    width: 100%;
}
#header .call-ord:hover span {
    border-color: transparent;
}
#header .soc {
    margin-top: 10px;
}
#header .soc a {
    display: inline-block;
    margin-left: 6px;
}
.mobile-button {
    right: 15px;
    top: 34px;
    position: absolute;
    z-index: 50;
    border: 2px solid #05563d;
    float: right;
    border-radius: 7px;
    width: 32px;
    height: 31px;
    margin: 0px 0px 0 10px;
}
.mobile-button span {
    transition: all 0.3s ease-out;
    border-radius: 2px;
    background: #05563d;
    width: 20px;
    height: 2px;
    display: block;
    margin: 13px auto 0px;
    position: relative;
}
.mobile-button span:before, .mobile-button span:after {
    transition: all 0.3s ease-out;
    border-radius: 2px;
    content: '';
    background: #05563d;
    height: 2px;
    display: block;
    top: -6px;
    left: 0;
    right: 0;
    position: absolute;
}
.mobile-button span:after {
    top: auto;
    bottom: -6px;
}
.mobile-button.open span {
    background: transparent;
    border-color: transparent;
}
.mobile-button.open span:before {
    background: #05563d;
    left: 0px;
    right: 0px;
    top: 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.mobile-button.open span:after {
    background: #05563d;
    left: 0px;
    right: 0px;
    top: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#footer {
    clear: both;
    background: url(../img/bg6.jpg?ver1.0) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#footer:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 5px;
    background: #179a76;
}
#footer .foot-bot {
    clear: both;
    margin: 10px 0 15px;
}
#footer .foot-nav {
    overflow: hidden;
}
#footer .foot-nav ul {
    line-height: 30px;
    padding: 19px 10px 10px 10px;
    position: relative;
    list-style: none;
    background: rgba(38, 181, 135, 0.8);
    text-align: center;
    margin: 0;
}
#footer .foot-nav ul li {
    margin-bottom: 10px;
}
#footer .foot-nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid transparent;
}
#footer .foot-nav ul li a:hover {
    border-bottom: 1px solid #000;
}
#footer .foot-logo {
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    height: 78px;
    line-height: 78px;
    text-align: center;
}
#footer .foot-logo img {
    width: 88px;
}
.content {
    position: relative;
    z-index: 1;
    clear: both;
}
section:after {
    content: '';
    display: block;
    clear: both;
}
.btn {
    position: relative;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-family: "PT Sans", sans-serif, arial;
    cursor: pointer;
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    padding: 0 18px;
    color: #fff;
    background: #05563d;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: none;
    transition: all 0.3s ease-out;
}
.btn:hover {
    color: #fff;
    background: #0e7757;
}
.btn-green {
    background: url(../img/btn.png?ver1.0) no-repeat center #21ce99;
}
.btn-green:hover {
    background: #1fc291;
}
.form-row {
    position: relative;
    margin-bottom: 7.7%;
}
.form-row:after {
    content: '';
    display: block;
    clear: both;
}
.t-inp, textarea {
    background: #fff;
    padding: 10px 18px 11px 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    color: #333;
    -webkit-appearance: none;
    font-size: 15px;
    height: 45px;
    border: 1px solid #fff;
    line-height: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "PT Sans", sans-serif, arial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    height: 151px;
    resize: none;
    overflow: auto;
}
.t-inp.error, textarea.error {
    border-color: #f00;
}
.name-inp {
    background: url(../img/ico3.png?ver1.0) no-repeat 15px center #fff;
    padding-left: 56px;
}
.mail-inp {
    background: url(../img/ico4.png?ver1.0) no-repeat 14px center #fff;
    padding-left: 56px;
}
.tel-inp {
    background: url(../img/ico5.png?ver1.0) no-repeat 15px center #fff;
    padding-left: 56px;
}
.section-top {
    background: url(../img/bg3.jpg?ver1.0) no-repeat center top;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 190px 0 43px;
}
.section-top .sec-txt {
    max-width: 320px;
    padding: 14px 15px 27px 15px;
    height: 117px;
    position: relative;
    background: rgba(25, 25, 25, 0.69);
    float: left;
}
.section-top .sec-txt:after {
    content: '';
    left: 100%;
    position: absolute;
    top: 0;
    border-top: 59px solid rgba(25, 25, 25, 0.69);
    border-left: 26px solid rgba(25, 25, 25, 0.69);
    border-bottom: 59px solid transparent;
    border-right: 26px solid transparent;
}
.section-top h1, .section-top .h1 {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.3px;
}
.section-top p {
    margin: -4px 0 0 0px;
    font-size: 22px;
    line-height: 1;
}
.section-about {
    padding: 30px 0 9.65%;
    background: url(../img/bg7.jpg?ver1.0) no-repeat center top #fdfefe;
    background-size: cover;
}
.section-about .wrapper {
    max-width: 1086px;
}
.section-about .about-txt {
    line-height: 1.7;
    text-align: center;
    text-shadow: 0 0;
}
.section-about .about-txt h2 {
    color: #179a76;
    margin-bottom: 15px;
    line-height: 1.5;
    display: inline-block;
}
.section-about .about-txt h2:before {
    background: #6e7e97;
    margin: 0 auto 15px;
    width: 55px;
}
.section-about .about-img {
    margin-top: 26px;
    text-align: center;
}
.section-services {
    position: relative;
    color: #fff;
    height: 602px;
    text-align: center;
    padding: 30px 0;
    background: url(../img/bg1.jpg?ver1.0) no-repeat center;
    background-size: cover;
}
.section-services:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(33, 205, 153, 0.85);
    z-index: 0;
}
.section-services:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 85px solid transparent;
    border-color: rgba(75, 75, 75, 0.17) transparent transparent rgba(75, 75, 75, 0.17);
}
.section-services .wrapper {
    z-index: 2;
    position: relative;
    max-width: 811px;
}
.section-services .services {
    position: relative;
    min-height: 87px;
}
.section-services .services li {
    list-style: none;
    margin-bottom: 15px;
}
.section-services .services li a {
    color: #05563d;
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 20px;
}
.section-services .services li a:before {
    content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    top: -17px;
    left: -18px;
    background: url(../img/dots.png?ver1.0) no-repeat;
}
.section-services .serv-img img {
    width: 290px;
    margin: 0 auto;
}
.section-services h2 {
    font-weight: bold;
}
.section-services h2:before {
    margin: 0 auto 19px;
}
.section-how {
    padding: 30px 0 60px;
    background: #1d2d20;
    color: #fff;
    position: relative;
}
.section-how:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 67px solid #29352c;
    border-left: 137px solid #29352c;
    border-bottom: 67px solid transparent;
    border-right: 137px solid transparent;
}
.section-how .wrapper {
    max-width: 977px;
    z-index: 3;
    position: relative;
}
.section-how h2 {
    text-align: center;
    position: relative;
    max-width: 280px;
}
.section-how h2:before {
    margin: 0 auto 22px;
}
.section-how h2:after {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    left: 280px;
    top: 18px;
    background: url(../img/dot.png?ver1.0) no-repeat;
}
.section-how .steps {
    margin: 0 0 30px;
}
.section-how .steps:after {
    content: '';
    display: block;
    clear: both;
}
.section-how .steps .step {
    height: 70px;
    position: relative;
    margin: 0 auto;
    width: 214px;
    margin-top: 24px;
    margin-bottom: 50px;
}
.section-how .steps .step:after {
    content: '';
    width: 30px;
    height: 16px;
    background: url(../img/arr2.png?ver1.0) no-repeat;
    position: absolute;
    left: 20px;
    bottom: -32px;
}
.section-how .steps .step .step-img {
    display: table-cell;
    width: 70px;
    height: 70px;
    background: #179a76;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
.section-how .steps .step span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 23px;
    line-height: 1.35;
    padding-top: 2px;
}
.section-how .steps .step:nth-child(even) .step-img {
    background: #21ce99;
}
.section-how .steps .step:last-child:after {
    display: none;
}
.section-how .subtitle {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    margin: 0px -10px 22px;
    line-height: 1.3;
    letter-spacing: -0.3px;
}
.section-how .subtitle:before, .section-how .subtitle:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 1px;
    background: #adb2ae;
    margin: 0 10px;
}
.section-how .btn {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    display: block;
}
.section-how .btn:after {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    bottom: -37px;
    background: url(../img/dot.png?ver1.0) no-repeat;
}
.section-works {
    padding: 30px 0 30px;
    background: url(../img/bg4.jpg?ver1.0) no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.section-works:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    opacity: 0.1;
    transition: all 0.3s ease-out;
    background-image: -webkit-linear-gradient(left, transparent 0%, #586c80 100%);
    background-image: -moz-linear-gradient(left, transparent 0%, #586c80 100%);
    background-image: linear-gradient(to right, transparent 0%, #586c80 100%);
}
.section-works .works {
    text-align: center;
    position: relative;
    margin-top: 40px;
}
.section-works .works .work .work-img {
    background: url(../img/mon.png?ver1.0) no-repeat 0 0;
    width: 228px;
    height: 207px;
    overflow: hidden;
    padding-top: 8px;
    margin: 0 auto 44px;
}
.section-works .works .work .work-img img {
    width: 211px;
    height: 130px;
}
.section-works .works .work .work-name {
    padding: 10px 10px 10px;
    line-height: 1.35;
    margin-bottom: 7px;
}
.section-works .works .work .work-name a {
    color: #3a5072;
}
.section-works .works .work .work-name:after {
    display: block;
    background: #5b6e88;
    width: 37px;
    margin: 13px auto 0;
    content: '';
    height: 1px;
}
.section-works .works .work .btn {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
}
.section-works .works:after {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    right: -10px;
    background: url(../img/wood.png?ver1.0) no-repeat center;
    background-size: 100% 100%;
    height: 76px;
    top: 182px;
}
.section-works .wrapper {
    padding: 0 25px;
    max-width: 1044px;
}
.section-works h2:before {
    margin: 0 auto 23px;
    background: #5d6f8a;
}
.slick-prev {
    left: -15px;
}
.slick-next {
    right: -15px;
}
.section-apply {
    background: url(../img/bg5.jpg?ver1.0) no-repeat center;
    background-size: cover;
    position: relative;
}
.section-apply .apply {
    background: rgba(32, 206, 153, 0.75);
    padding: 30px 20px 1px;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 100%;
}
.section-apply .apply .form-block {
    margin: 6.5% auto 0;
    max-width: 360px;
}
.section-apply .apply .form-block .btn {
    margin: 14px auto;
    padding: 0 34px;
}
.section-apply .apply .form-block .btn:after {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    bottom: -44px;
    background: url(../img/dot.png?ver1.0) no-repeat;
}
.section-apply h2:before {
    margin: 0 auto 25px;
}
.sec-cont {
    position: relative;
}
.sec-cont .contacts {
    padding: 30px 20px 30px;
    background: rgba(25, 25, 25, 0.75);
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 100%;
    float: right;
}
.sec-cont .contacts .contact-item {
    overflow: hidden;
    margin-top: 21px;
}
.sec-cont .contacts .contact-item a {
    color: #fff;
    display: inline-block;
    font-weight: bold;
}
.sec-cont .contacts .contact-item a span {
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-out;
}
.sec-cont .contacts .contact-item a:hover span {
    color: #21ce99;
    border-bottom: 1px solid #21ce99;
}
.sec-cont .contacts .contact-links {
    text-align: center;
    overflow: hidden;
    max-width: 227px;
    margin: 15px auto 6px;
}
.sec-cont .contacts .contact-links .contact-link {
    width: 227px;
    margin-bottom: 21px;
    line-height: 33px;
    text-align: left;
    display: inline-block;
}
.sec-cont .contacts .contact-links .contact-link i {
    margin-right: 10px;
}
.sec-cont .contacts .contact-phone a {
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.sec-cont .contacts .contact-phone i {
    margin-right: 8px;
    margin-left: 8px;
}
.sec-cont .contacts h2:before {
    margin: 0 auto 26px;
}
.sec-cont .contacts .btn:after {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    right: -35px;
    bottom: 17px;
    background: url(../img/dot.png?ver1.0) no-repeat;
}
.box {
    display: none;
}
.inner #header {
    background: url(../img/header-bg.jpg) no-repeat center top;
    background-size: auto 73px;
}
.inner-top {
    background: #21ce99;
    padding-top: 73px;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 4;
}
.inner-top .wrapper {
    padding: 0;
    max-width: 100%;
}
.inner-top .inner-nav {
    margin: 0;
    padding: 15px 0;
}
.inner-top .inner-nav li {
    list-style: none;
    line-height: 35px;
}
.inner-top .inner-nav li a {
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    display: block;
}
.inner-top .inner-nav li a:hover {
    background: #169f75;
}
.inner-top h1 {
    color: #fff;
    margin: 36px 15px 42px;
    line-height: 1.2;
    font-size: 26px;
}
.section-port {
    background: url(../img/bg7.jpg?ver1.0) no-repeat center top;
    background-size: cover;
    padding: 17px 0 23px;
}
.section-port .wrapper {
    padding: 0 10px;
}
.section-port .ports .port-row {
    margin-bottom: 12px;
    padding: 2px;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    margin-bottom: 11px;
    border: 2px solid rgba(35, 207, 154, 0.25);
}
.section-port .ports .port-row h3 {
    color: #202020;
    line-height: 1.15;
    margin-bottom: 15px;
    font-size: 24px;
}
.section-port .ports .port-row h3 a {
    color: #202020;
}
.section-port .ports .port-row .port-cat {
    font-size: 16px;
}
.section-port .ports .port-row .port-txt {
    color: #393939;
}
.section-port .ports .port-row .port-txt p {
    margin: 0;
}
.section-port .ports .port-row .port-cont {
    padding: 15px;
}
.section-port .ports .port-row .port-img {
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
}
.section-port .ports .port-row .port-cov {
    text-align: center;
    padding: 15px;
}
.section-port .ports .port-row .port-cov .btn {
    background: #21ce99;
    padding: 0 35px;
}
.section-port .ports .port-row .port-cov .btn:after {
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    right: -35px;
    bottom: 18px;
    background: url(../img/dot.png?ver1.0) no-repeat;
    background-size: 21px;
}
.section-port .ports .port-row .port-cov .btn:hover {
    background: #1fc291;
}
.section-cols {
    position: relative;
    z-index: 3;
    padding: 15px 0 3px;
    background: #fff;
}
.section-cols .cols .col {
    padding: 15px 0;
    line-height: 1.7;
}
.section-cols .cols .col h4 {
    margin-left: 45px;
    color: #05563d;
    margin-bottom: 15px;
}
.section-cols .cols .col h4 img {
    margin-right: 33px;
    margin-top: -3px;
}
.section-preview {
    position: relative;
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
    background: url(../img/bg7.jpg?ver1.0) no-repeat center top;
    background-size: cover;
}
.section-preview:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    height: 1px;
}
.section-preview .btn {
    background: #21ce99;
    padding: 0 35px;
}
.section-preview .btn:hover {
    background: #1fc291;
}
.screens {
    text-align: center;
    padding: 0 15px;
}
.screens .screen1 {
    max-width: 694px;
    margin: 0 auto;
    background: url(../img/m1.png?ver1.0) no-repeat center top;
    background-size: 100%;
    overflow: hidden;
}
.screens .screen1 img {
    margin-top: 3.6%;
    width: 92%;
    margin-bottom: 33%;
}
.screens .screen2 {
    width: 275px;
    height: 407px;
    margin: 0 15px 30px;
    background: url(../img/m2.png?ver1.0) no-repeat center top;
    overflow: hidden;
    display: inline-block;
}
.screens .screen2 img {
    margin-top: 15%;
    width: 89%;
    margin-left: 1px;
}
.screens .screen3 {
    width: 161px;
    height: 317px;
    margin: 0 15px 30px;
    background: url(../img/m3.png?ver1.0) no-repeat center top;
    overflow: hidden;
    display: inline-block;
}
.screens .screen3 img {
    margin-top: 28%;
    width: 83%;
}
.pols {
    margin: 0 auto;
    padding: 22px 0 6px;
    max-width: 1104px;
}
.pols:after {
    content: '';
    display: block;
    clear: both;
}
.pols div {
    display: inline-block;
}
.pols .pol3 {
    margin: -20px 0 20px;
}
.preview .pols .pol {
    float: left;
    margin: -5px;
}
.pop-up {
    width: 280px;
    padding: 8px;
    color: #333;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    padding: 24px 0 23px;
}
.pop-up h2 {
    font-weight: 400;
    color: #fff;
    margin: 0 0 16px 0;
}
.pop-up h2:before {
    background: #fff;
    margin: 0 auto 31px;
}
.pop-up p {
    margin: 0 auto;
    max-width: 362px;
}
.pop-up .p-form {
    margin: 21px auto 0;
    max-width: 361px;
}
.pop-up .form-row {
    margin-bottom: 28px;
}
.pop-up .btn {
    padding: 0 34px;
    margin-top: -4px;
}
@media screen and (max-width: 767px) and (min-width: 440px) {
    .sec-cont .contacts .contact-links {
        max-width: 393px;
    }
    .sec-cont .contacts .contact-links .contact-link:nth-child(even) {
        width: 160px;
    }
}
@media screen and (min-width: 768px) {
    .section-top .sec-txt {
        padding: 26px 23px 27px 54px;
        max-width: 100%;
    }
    .section-works:before {
        width: 50%;
    }
    .section-how .steps {
        margin: 0 -7px 0 0;
    }
    .section-how .steps .step {
        width: 26%;
        float: left;
        margin-top: 24px;
        margin-bottom: 55px;
        padding-right: 35px;
    }
    .section-how .steps .step .step-img {
        min-width: 70px;
    }
    .section-how .steps .step span {
        padding-left: 10px;
    }
    .section-how .steps .step:after {
        bottom: 27px;
        right: 2px;
        left: auto;
        transform: rotate(-90deg);
    }
    .section-how .steps .step:nth-child(8n-6) {
        width: 26%;
    }
    .section-how .steps .step:nth-child(8n-5) {
        width: 26%;
    }
    .section-how .steps .step:nth-child(8n-4) {
        padding-right: 0px;
        width: 22%;
    }
    .section-how .steps .step:nth-child(8n-4):after {
        bottom: -48px;
        right: 44px;
        left: auto;
        transform: rotate(0deg);
    }
    .section-how .steps .step:nth-child(8n-3) {
        float: right;
        padding-right: 0px;
        width: 22%;
    }
    .section-how .steps .step:nth-child(8n-3) .step-img {
        background: #21ce99;
    }
    .section-how .steps .step:nth-child(8n-3):after {
        transform: rotate(90deg);
        right: auto;
        left: -33px;
    }
    .section-how .steps .step:nth-child(8n-2) {
        float: right;
        width: 26%;
    }
    .section-how .steps .step:nth-child(8n-2) .step-img {
        background: #179a76;
    }
    .section-how .steps .step:nth-child(8n-2):after {
        transform: rotate(90deg);
        right: auto;
        left: -33px;
    }
    .section-how .steps .step:nth-child(8n-1) {
        float: right;
        width: 26%;
    }
    .section-how .steps .step:nth-child(8n-1) .step-img {
        background: #21ce99;
    }
    .section-how .steps .step:nth-child(8n-1):after {
        transform: rotate(90deg);
        right: auto;
        left: -33px;
    }
    .section-how .steps .step:nth-child(8n) {
        float: right;
    }
    .section-how .steps .step:nth-child(8n) .step-img {
        background: #179a76;
    }
    .section-how .steps .step:nth-child(8n):after {
        bottom: -27px;
        right: 50%;
        margin-right: -15px;
        left: auto;
        transform: rotate(0deg);
    }
    .section-apply .apply {
        width: 50%;
    }
    .sec-cont .contacts {
        width: 50%;
        float: right;
    }
    .section-port .wrapper {
        padding: 0 15px;
    }
    .section-port .ports .port-row h3 {
        margin-bottom: 31px;
        font-size: 27px;
    }
    .section-port .ports .port-row .port-cat {
        font-size: 19px;
    }
    .section-port .ports .port-row .port-cont {
        padding: 20px;
    }
    .section-port .ports .port-row .port-cov {
        padding: 20px;
    }
    .section-cols .wrapper {
        padding: 0;
    }
    .section-cols .cols:after {
        content: '';
        display: block;
        clear: both;
    }
    .section-cols .cols .col {
        float: left;
        width: 33.33%;
        padding: 15px 15px 15px 20px;
    }
    .section-cols .cols .col h4 {
        margin-bottom: 25px;
        margin-left: 0;
    }
    .section-cols .cols .col h4 img {
        margin-right: 15px;
    }
}
